nav{
  height: 50px;;
  background: blueviolet;
  display:flex;
  align-items: center;
  justify-content: center;
}

/* Form */

/* body{
  background-color: blueviolet;
} */

#form{
  display: flex;
  flex-flow: column;
}

#input-form{
  display: flex;
  flex-flow: column;
  align-items: center;
}

#product-form{
  display: flex;
  flex-flow: column;
}

.input{
  width: 60vw;
  margin: 10px;
  border-radius: 15px;
  border-color: lightgray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 


nav{
  height: 50px;;
  background: orangered;

}

button{
  background-color:orangered;
  text-align: start;
}

#head-home{
  display: flex;
  flex-flow: column;
  align-items: center;
}

#search{
  display: flex;
  flex-flow: row;
  border: solid 1px rgb(0, 0, 0);
  padding: 15px;
  justify-content: center;
  
}

#searchbar{
  width: 300px;
  border-radius: 20px;
}


path {
  fill: black;
}
