

/* Form */

#form{
  display: flex;
  flex-flow: column;
}

.title{
  color: white;
}

body{
  background-color: black;
}

#input-form{
  display: flex;
  flex-flow: column;
  align-items: center;
}

#product-form{
  display: flex;
  flex-flow: column;
}

.input{
  width: 60vw;
  margin: 10px;
  border-radius: 15px;
  border-color: lightgray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 


nav{
  height: 50px;;
  background: rgb(128, 27, 141);
  display:flex;
  align-items: center;
  justify-content: center;
}

}

button{
  background-color:rgb(128, 27, 141);
  text-align: start;
  height: 20px;
}

#head-home{
  display: flex;
  flex-flow: column;
  align-items: center;
}

#search{
  display: flex;
  flex-flow: row;
  border: solid 1px rgb(0, 0, 0);
  padding: 15px;
  justify-content: center;
  
}

#searchbar{
  width: 250px;
  border-radius: 20px;
}

path{
  fill: rgb(128, 27, 141);
stroke: white;
}

path:hover{
  fill: lightgray;
}
